{% extends "base.html" %}

{% block title %}Activation Unsuccessful{% endblock %}

{% block content %}
<legend>Activation Unsuccessful</legend>

<div>
	<p>Unfortunately your account could not be activated. Please contact the  <a href="mailto:et2e10@soton.ac.uk">administator</a>.</p>
</div>
{% endblock %}
