{% extends "base.html" %}

{% block title %}Activation Complete{% endblock %}

{% block content %}
<legend>Activation Complete!</legend>

<div>
	<p>Your account has been successfully activated. You're now free to use the IdleWars client.</p>
</div>
{% endblock %}
