{% extends "base.html" %}

{% block title %}Register User{% endblock %}
{% block registerActive %}class="active"{% endblock %}
{% block scripts %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}frontend/forms.css" />
	
{% endblock %}


{% block content %}
    <legend>User Registration</legend>
    </hr>
<form method="post"  enctype="multipart/form-data" action="."  class="form-horizontal">
	        		<fieldset>

					{% csrf_token %}
					<div  class="span5">
              
			              <p>
			                We will not use your data for any other purpose than academic research, and we will not disclose your personal information to anyone else. If any information will be published, this will be in anonymous form.
			              </p>
			              
			              <p>
			                If you have any questions or concerns about the research, please
			                contact Evangelos Tolias (et2e10 at ecs.soton.ac.uk) or the <a href="http://www.ecs.soton.ac.uk/contact/">Electronics
			                and Computer Science office</a> in the Faculty of Physical Sciences & Engineering of the University of Southampton.
			              </p>
			
			              <p>
			              	For information about the project please read our <a href="{{ STATIC_URL}}frontend/docs/ParticipantInformation.pdf">participant information page</a>.
			              </p>
			                <!--<input type="file" name="user_image" id="id_user_image" />-->
			              
			          </div>
					<div class="control-group">
						<div class="controls">
								{{ form.non_field_errors }}
						</div>
					</div>
					
	        		<div class="control-group">
							<label class="control-label" for="id_username">Username:</label> 
							<div class="controls">
							{{ form.username }}
							{{ form.username.errors }}
							</div>
							
					</div>
					<div class="control-group">
							<label class="control-label" for="password1">Password:</label>
							<div class="controls">
							{{ form.password1 }}
							{{ form.password1.errors }}
							</div>
	        									
					</div>
	        		<div class="control-group">
							<label class="control-label" for="password2">Password (again):</label>
							<div class="controls">
							{{ form.password2 }}
							{{ form.password2.errors }}
							</div>
							
					</div>
					<div class="control-group">
							<label class="control-label" for="first_name">First Name:</label>
							<div class="controls">
							{{ form.first_name }}
							{{ form.first_name.errors }}	
							</div>
	        										
					</div>
					<div class="control-group">
							<label class="control-label" for="last_name">Last Name:</label>
							<div class="controls">
							{{ form.last_name }}
							{{ form.last_name.errors }}		
							</div>
	        									
					</div>
					<div class="control-group">
							<label class="control-label" for="email">Email:</label>
							<div class="controls">
							{{ form.email }}
							{{ form.email.errors }}
							</div>
							
					</div>
                    <div class="control-group">
							<label class="control-label" for="computer_type">Computer type:</label>
							<div class="controls">
							{{ form.computer_type }}
							{{ form.computer_type.errors }}
							</div>
					</div>
					<div class="control-group">
							<label class="control-label" for="user_image">User Image:</label>
							<div class="controls">
							{{ form.user_image }}
							{{ form.user_image.errors }}
							</div>
							
					</div>

					<div class="control-group">
					<div  class="span5">
			              <p>
			                This study was examined and approved by the Ethics Committee of the Faculty of Physical Sciences & Engineering at the University of Southampton ( reference: ERGO/FoPSE/ 7425). This is version 1 of this document. For more information about the study please click <a href="{{ STATIC_URL}}frontend/docs/ParticipantInformation.pdf">here</a>. 
			              </p>
			              <p>
			                <b>Important:</b> by submitting this form you authorize us to store and process the information you provide. The information will be treated according to the UK Data Protection Act. If at any point you will want your personal information to be removed from our database, or you want to access your data, please let us know via e-mail et2e10 at ecs.soton.ac.uk
			              </p>  
			         </div>
					</div>
					
					<!-- Prepended checkbox -->
					<div class="control-group">
					  <label class="control-label" for="checkboxes">I have read and understood the <a href="{{ STATIC_URL}}frontend/docs/ParticipantInformation.pdf">participant information</a></label>
					  <div class="controls">
					    <div class="input-prepend">
					      <span class="add-on">
					        <label class="checkbox">
					          {{form.tos}}
					          
					        </label>
					        
					      </span>
					    </div>
					    {{ form.tos.errors }}
					    
					  </div>
					  
					  
					</div>
					
	        		<div class="control-group">
    						<div class="controls">
								<input type="submit" value="Submit" class="btn btn-large btn-primary" />	
							</div>
					</div>
					</fieldset>
	        	</form>
{% endblock %}
