{% extends "base.html" %}

{% block title %}Register User{% endblock %}

{% block content %}
<legend>Registration Complete!</legend>

<div>
	<p>Congratulations you have successfully registered! An email has been sent to your email account that guides you on how to activate your account.</p>
</div>
{% endblock %}
