div.bar {
	    display: inline-block;
	    width: 20px;
	    height: 75px; 
		text-align: center;
	}
	
p.label {
		color: white;
	}
	
div.practice_container {
		width: 95%;
		margin-left: 2.5%;
		height: 120px;
	}
	
.axis path,
.axis line {
    	fill: none;
    	stroke: black;
    	shape-rendering: crispEdges;
	}

.legend text,
.axis text {
    	font-family: sans-serif;
    	font-size: 11px;
	}
	
div.tooltip {
		position: absolute;
		text-align: center;
		padding: 2px;
		background: white;
		pointer-events: none;
		border: 1px;
		border-style: solid;
		border-color: lightsteelblue;
		border-radius: 3px;
		width: 300px;
	}
	
rect {
		shape-rendering: crispEdges;
	}
	
.container-fluid {
	padding-bottom: 2em;
}

.media {
	height: 64px;
	min-height: 64px;
}

a.pull-left {
    width: 64px;
    min-width: 64px;
}

