/* 
 *This file is used to provide the styling information for login and registration forms
 * 
 * Author: Simon Bidell
 */

.control-group .controls #text{
	display: inline-block;
	margin-left: 10px;
}
		
.control-group .controls input {
	float: left;
	width: 200px
}

.errorlist {
	display: inline;
	width: 200px;
			
}

.errorlist li {
	color: red;
	display: inline;
}		