/* An adaption of the css rules for twitter bootstrap v3 */

body {
	padding-top: 50px;
}
       

	
h1 h2 h3 h4 h5 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
}
	
h2 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
	font-size: 32px;
	margin-top: 20px;
	margin-bottom: 10px;
	color: #333333;
}	

h4 {
	font-size: 18px;
	font-weight: normal;
}
	
.row {
	margin-left: 40px;
}
	
.media-object {
	max-width: 100%;
	max-height: 100%;
}
	
.media-heading {
	margin: 0 0 5px;
}
     
.navbar-inverse {
	background-color: #eeeeee;
    border-color: #eeeeee;
}
        
.navbar-brand {
	color: #999999;
    float: left;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    line-height: 20px;
    margin-left: 60px;
}
        
.navbar-brand:hover{
	color: white;
	background-color: transparent;
	text-decoration: none;
}
        
.navbar-text {
	margin-right: 15px;
	margin-left: 15px;
	float: left;
	margin-top: 15px;
	margin-bottom: 15px;
	line-height: 20px;
}

.navbar-text a:hover {
	text-decoration: none;
}
        

	