<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{% block title %}{% endblock %}</title>

	<script>var g_server_url = "{{ ROOT_URL }}"</script>

	{% block scripts %} {% endblock %}

	<!-- JQuery -->
	<script src="{{ STATIC_URL}}frontend/jquery.min.js"></script>
	
	{% block scripts_after_jquery %} {% endblock %}

    <!-- Bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}frontend/twitter-bootstrap/docs/assets/css/bootstrap.css">
    <script type="text/javascript" src="{{ STATIC_URL}}frontend/twitter-bootstrap/docs/assets/js/bootstrap.js"></script>

    {% block scripts_after_bootstrap %} {% endblock %}
	<style>
	.row {
		margin-left: 40px;
	}
	
	.media-object {
		max-width: 100%;
		max-height: 100%;
	}
	
</style>

</head>
<body onload="{% block onload %}{% endblock %}">
	
		<div class="hero-unit">
    		<p class="navbar-text pull-right">
    			<a href="{{ ROOT_URL}}" class="navbar-link">Home</a>

                <a href="{{ ROOT_URL}}bustbycode" class="navbar-link">Bust by code</a>
    			<a href="{{ STATIC_URL}}frontend/docs/ParticipantInformation.pdf" class="navbar-link">About</a>
    			{% if owner.is_authenticated %}
              		<a href="{{ ROOT_URL }}accounts/logout/?next={{ ROOT_URL }}" class="navbar-link">Logout</a> {{ owner.username }}   
              	{% else %}
              		<a href="{% url django.contrib.auth.views.login %}?next={{request.path}}" class="navbar-link">Login</a>
              	{% endif %}
            </p>
    		<h1>IdleWars</h1>
    		<p>Be an energy hero by busting Idle computers</p>

  		</div>
  		<div class="container-fluid">
	      <div class="row-fluid">
	      	

	
	        <div class="span2 bs-docs-sidebar">
	          <!--Sidebar content-->
	          <ul class="nav nav-tabs nav-stacked bs-docs-sidenav" role="menu">
	              {% comment %}
                  <li class="nav-header"> <b>Main Menu</b></li>
	              {% endcomment %}
                  <li {% block homeActive %}{% endblock %}>
	              	<a href="{{ ROOT_URL }}" > <b>Home</b>
	              		<i class="icon-chevron-right pull-right"></i>
	              	</a>
	              </li>
                  {% comment %}
                  <li class="nav-header"> <b>Register</b></li>
                  {% endcomment %}
	              <li {% block registerActive %}{% endblock %}><a href="{{ ROOT_URL }}accounts/register/" > <b>Register</b><i class="icon-chevron-right pull-right"></i></a></li>
                  <li {% block installActive %}{% endblock %}><a href="{{ ROOT_URL }}installationinstructions" > <b>How to install</b><i class="icon-chevron-right pull-right"></i></a></li>
                  <li {% block playActive %}{% endblock %}><a href="{{ ROOT_URL }}playinstructions" > <b>How to play</b><i class="icon-chevron-right pull-right"></i></a></li>
	              {% comment %}
                  <li class="nav-header"> <b>Visualizations</b></li>
	              <li {% block leaderboardsActive %}{% endblock %}><a href="{{ ROOT_URL }}leaderboards/" > <b>Leaderboards</b><i class="icon-chevron-right pull-right"></i></a></li>
	              
	              <li class="dropdown-submenu">
	              	<a  href="#">Activity Bar</a>
	              	<ul class="dropdown-menu " role="menu" aria-labelledby="dropdownMenu">
	              		{% for userProfile in allUserProfiles %}	
							<li><a tabindex="-1" href="{{ ROOT_URL }}bar/{{userProfile.id}}"> {{userProfile.user.first_name}} {{userProfile.user.last_name}}</a></li>
						{% endfor %}
	              	
	              	</ul>
	              </li>
	              {% endcomment %}
	              
	          </ul>
	        </div> <!-- end span2 bs-docs-sidebar -->

	        <div class="span10">
	          <!--Body content-->
	          {% block content %}
	          {% endblock %}
	        </div> <!-- End of span 10 -->
	
	      </div> 
    </div>
</body>
</html>