{% extends "base.html" %}

{% block title %}IdleWars Leaderboard{% endblock %}

{% block scripts_after_bootstrap %}
<!--<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="{{ STATIC_URL}}frontend/twitter-bootstrap/docs/assets/css/bootstrap-responsive.css" rel="stylesheet">-->

<script type="text/javascript" src="https://human.ecs.soton.ac.uk/figureenergy/media/js/libs/jquery.min.js"></script>


<script>
    function f(){
        document.location.href='{{ ROOT_URL}}bust/'+$("#bustCode").val();
    }

</script>
{% endblock %}

{% block onload %}
{% endblock %}

{% block content %}


    <fieldset class="form-horizontal">
    {% csrf_token %}
    <!-- Form Name -->
    <legend>Bust by Code</legend>
    <p>Type the code that appears at the top of the QR code</p>
    <!-- Text input-->
    <div class="control-group">
      <label class="control-label" for="bustCode">Bust code: </label>
      <div class="controls">

        <input id="bustCode" name="bustCode" type="text" placeholder="code" required="">

      </div>
    </div>

    <!-- Button -->
    <div class="control-group">
      <label class="control-label" for="bustButton"></label>
      <div class="controls">
        <button id="bustButton" onclick="f()" name="bustButton" class="btn btn-large btn-primary">Bust It!</button>
      </div>
    </div>

    </fieldset>
{% endblock %}
