<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<title>IdleWars Dialog</title>
	<link rel="stylesheet" href="{{ STATIC_URL}}frontend/css/themes/blue.min.css" />
	<link rel="stylesheet" href="{{ STATIC_URL}}frontend/jquery.mobile-1.3.1/jquery.mobile.structure-1.3.1.min.css" />
	<script src="{{ STATIC_URL}}frontend/jquery.min.js"></script>
	<script src="{{ STATIC_URL}}frontend/jquery.mobile-1.3.1/jquery.mobile-1.3.1.js"></script>
	<script>
        function f(){
            document.location.href='{{ ROOT_URL}}bust/'+$("#bustCode").val();
        }
	</script>
</head>
<body>

	<div data-role="page" id="bustPage" data-theme="a">
      <div data-role="header">
        <h1>Bust computer</h1>
      </div>
      <div data-role="content" data-theme="a">
        <h2 id="test">Type the code that appears at the top of the QR code</h2>
        <p>Please note that the code is case sensitive</p>
        <label for="bustCode">Code:</label>
        <input type="text" name="bustCode" id="bustCode" value=""  />
        <a  data-role="button" onclick="f();" id="bustButton" rel="external" data-theme="a">Bust it!</a>
      </div>
      <div data-role="footer">
        <h1></h1>
      </div>
    </div>
	
	<!--  <h1>User Login</h1> -->
	
	
</body>
</html>