{% extends "base.html" %}

{% block title %}IdleWars{% endblock %}

{% block scripts %}

	<!--D3 -->
	<script src="{{ STATIC_URL}}frontend/d3.v3.min.js"></script>
	
	<!--Bar Visualisations-->
	<script src="{{ STATIC_URL}}frontend/IdleWars.datamanager.js"></script>
	<script src="{{ STATIC_URL}}frontend/IdleWars.barvisualisation.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}frontend/bar.css" />
	<style>
		.practice_container{
			margin-bottom: 300px;
		}
	</style>
{% endblock %}


{% block content %}
	{% for userProfile in allUserProfiles %}	
		{% include "subtemplates/bar_subtemplate.html" %}
	{% endfor %}
{% endblock %}
