<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<title>IdleWars Dialog</title>
	<link rel="stylesheet" href="{{ STATIC_URL}}frontend/css/themes/blue.min.css" />
	<link rel="stylesheet" href="{{ STATIC_URL}}frontend/jquery.mobile-1.3.1/jquery.mobile.structure-1.3.1.min.css" />
	<script src="{{ STATIC_URL}}frontend/jquery.min.js"></script>
	<script src="{{ STATIC_URL}}frontend/jquery.mobile-1.3.1/jquery.mobile-1.3.1.min.js"></script>
	
</head>
<body>
	<div data-role="dialog">
	
		<div data-role="header" data-theme="a">
			<h1>{{header_title}}</h1>

		</div>

		<div data-role="content" data-theme="a">
			<h1>{{ content_title}}</h1>
			<p>{{ content_description }}</p>
			      
			<a href="{{ ROOT_URL }}" data-role="button" rel="external" data-theme="a">OK</a>     
		</div>
	</div>
	
	
	<!--  <h1>User Login</h1> -->
	
	
</body>
</html>