{% extends "base.html" %}

{% block title %}IdleWars{% endblock %}

{% block scripts %}

	<!--D3 -->
	<script src="{{ STATIC_URL}}frontend/d3.v3.min.js"></script>
	
	<!--Gantt Visualisations-->
	<script src="{{ STATIC_URL}}frontend/gantt-chart-d3.js"></script>
	<script src="{{ STATIC_URL}}frontend/IdleWars.gattchartvisualisation.js"></script>

	<style>
		.practice_container{
			margin-bottom: 300px;
		}
		html,body,#wrapper {
			width: 100%;
			height: 100%;
			margin: 0px;
		}
		
		.chart {
			font-family: Arial, sans-serif;
			font-size: 12px;
		}
		
		.axis path,.axis line {
			fill: none;
			stroke: #000;
			shape-rendering: crispEdges;
		}
		
		.bar {
			fill: #33b5e5;
		}
		
		.bar-failed {
			fill: #CC0000;
		}
		
		.bar-running {
			fill: #669900;
		}
		
		.bar-succeeded {
			fill: #33b5e5;
		}
		
		.bar-killed {
			fill: #ffbb33;
		}
	</style>
{% endblock %}


{% block scripts_after_jquery %}
	<!-- Datepicker -->
	<link href="{{ STATIC_URL}}frontend/datepicker/css/datepicker.css" rel="stylesheet">
	<script src="{{ STATIC_URL}}frontend/datepicker/js/bootstrap-datepicker.js"></script>
	<!-- Timepicker -->
	<link href="{{ STATIC_URL}}frontend/timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet">
	<script type="text/javascript" src="{{ STATIC_URL}}frontend/timepicker/js/bootstrap-timepicker.min.js"></script>
	
	
	<script>
        function getJsonData() {
			return $.ajax({
				url: g_server_url + "api/userstats/sessions/metadata"
			});
		}

		$(function() {

            $.when(getJsonData()).done(

            function(a1) {
                var maxdate;
                var mindate;

                mindate=$('#dp1').datepicker({
                    onRender: function(date) {

                        upper_limit=new Date(a1.min_date);
                        lower_limit= new Date(a1.max_date);

                        return date.valueOf() <= upper_limit.valueOf() || date.valueOf() >=lower_limit.valueOf()  ? 'disabled' : '';

                      },
                    format: 'yyyy-mm-dd'

                }).on('changeDate', function(ev) {
                  //if (ev.date.valueOf() > $('#dp2').data('datepicker').date.valueOf()) {
                    var newDate = new Date(ev.date)
                    newDate.setDate(newDate.getDate() + 1);
                    $('#dp2').data('datepicker').setValue(newDate);
                  //}
                  $('#dp1').data('datepicker').hide();
                  $('#dp2')[0].focus();
                });
                maxdate=$('#dp2').datepicker({
                    onRender: function(date) {


                        lower_limit= new Date(a1.max_date);

                        return date.valueOf() < $('#dp1').data('datepicker').date.valueOf() || date.valueOf() >=lower_limit.valueOf()  ? 'disabled' : '';

                      },
                    format: 'yyyy-mm-dd'

                });
                $('#timepicker1').timepicker();
                $('#timepicker2').timepicker();
                $('#timepicker1').timepicker('setTime', '08:00 AM');
                $('#timepicker2').timepicker('setTime', '08:00 AM');
                /*
                var checkout = $('#dp1').datepicker({
                      onRender: function(date) {
                        limit=new Date("2013-11-07 17:19:09.822431+00:00")
                        return date.valueOf() < $('#dp2').data('datepicker').date.valueOf() ? 'disabled' : '';
                      }
                    }).on('changeDate', function(ev) {
                      $('#dp1').data('datepicker').hide();
                    }).data('datepicker');*/
            });
		});
	</script>
	
{% endblock %}

{% block content %}

	<form class= "form-inline">
	  
	    <legend>Gantt Chart</legend>
	    <label>From: </label>
	    <input type="text"   id="dp1" class="input-small" >
	    <div class="input-append bootstrap-timepicker">
            <input id="timepicker1" type="text" class="input-small" data-show-Meridian="false">
            <span class="add-on"><i class="icon-time"></i></span>
        </div>
	    <label>To: </label>
	    <input type="text"  id="dp2" class="input-small" >
	    <div class="input-append bootstrap-timepicker">
            <input id="timepicker2" type="text" class="input-small" data-show-Meridian="false">
            <span class="add-on"><i class="icon-time"></i></span>
        </div>
	    <!-- TODO you need to put testing code here to verify that the content is correct -->
	    <button type="submit" class="btn" onclick='$("svg").remove();example($("#dp1").val()+"T"+$("#timepicker1").val(),$("#dp2").val()+"T"+$("#timepicker2").val());return false;'>Filter</button>
	  
	</form>
	
{% endblock %}
