{% extends "base.html" %}

{% block title %}IdleWars{% endblock %}
{% block installActive %}class="active"{% endblock %}
{% block scripts %}
	<style>
		/*.practice_container{
			margin-bottom: 300px;
		}
		.sidebar-nav-fixed {
		    position:fixed;
		    top:100;
		    left:0;
		}*/
	</style>
	<script>
	// Sticky sidebar w/jQuery
    /*sidebarwidth = $(".sidebar-width").css('width');
    bodypaddingtop = $(".navbar-fixed-top").css('height');
    sidebarheight = $("body").css('height');
    $('.sidebar-nav-fixed').css('width', sidebarwidth);
    $('.sidebar-nav-fixed').css('height', sidebarheight);
    contentmargin = parseInt(sidebarwidth)
    */
	
	</script>
{% endblock %}


{% block content %}
	        	<legend><a name="HowtoBustaComputer"></a>IdleWars Instructions</legend>


                <ol>
                    <li>If you do not already have an IdleWars account, you need to register first:
                    Fill all the fields of the <a href="{{ROOT_URL}}accounts/register/">registration form</a> and click on the submit button.</li>
                    <li>After the successful submission, an e-mail will be sent with a link that you need to click to activate your account.</li>
                    <li>Download the IdleWars software application from one of the following links:
                        <ul>
                          <li><a href="{{ STATIC_URL}}frontend/installers/{{ DEPLOYMENT_NAME }}_IdleWars0.8.1.msi">IdleWars for Windows users</a></li>
                          <li><a href="{{ STATIC_URL}}frontend/installers/{{ DEPLOYMENT_NAME }}_IdleWars06.dmg">IdleWars for Mac users</a></li>
                        </ul>
                    </li>
                    <li>
                        Follow the installation instructions specific to your operating system (please
                        click on one of the following links):
                        <ul>
                            <li><a href="{{ROOT_URL}}installationinstructions#WindowsInstallationInstructions">Windows Installation Instructions</a></li>
                            <li><a href="{{ROOT_URL}}installationinstructions#MacInstallationInstructions">Mac Installation Instructions</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{ROOT_URL}}installationinstructions#HowtoBustaComputer">Learn how to play the game.</a>
                    </li>

                </ol>
                <h3><a name="MacInstallationInstructions"></a>Mac Installation Instructions</h3>
                <ol start="5">
                    <li>Double click on the file you just downloaded, IdleWars06.dmg (Note: you
                    may get a warning message saying &quot;This is an application downloaded from the
                    Internet. Are you sure you want to open it?&quot; in that case please press open).</li>
                    <li>Open Finder and click on the &quot;IdleWars06&quot; item that should appear
                    on the left hand side, under the &quot;devices&quot; label.</li>
                    <li>Double click on the application.</li>
                    <li>A new window should appear (see image below), please click continue on it.</li> <img src="{{ STATIC_URL}}frontend/img/macInstallerIntroduction.PNG" class="img-responsive" alt="Responsive image">
                    <li>Then you will be requested to choose storage device please choose the local
                    hard drive and click on &quot;continue&quot;.</li><img src="{{ STATIC_URL}}frontend/img/macinstallerdestination.PNG" class="img-responsive" alt="Responsive image">
                    <li>Congratulations you have now successfully installed idle wars.
                    Please wait for the IdleWars icon to appear on the top bar on your screen, to the
                    left of the clock (the one highlighted in red in the figure below).</li><img src="{{ STATIC_URL}}frontend/img/mactrayicon.PNG" class="img-responsive" alt="Responsive image">
                    <li>Now you can close the installer by pressing the close button.
                    (Note: if the icon does not appear go to the Applications folder and open
                    IdleWars06.app).</li><img src="{{ STATIC_URL}}frontend/img/macinstallationsuccessful.PNG" class="img-responsive" alt="Responsive image">
                    <li>When you run the application the dialog window below will appear, this is normal. Please press OK.</li><img src="{{ STATIC_URL}}frontend/img/InsertUsernameAndPassword.PNG" class="img-responsive" alt="Responsive image">
                    <li>A new dialog window (see figure below) will then appear, please insert the
                    username and password you chose during the registration and click on &quot;Save all&quot;.</li><img src="{{ STATIC_URL}}frontend/img/macInsertUsernameAndPassword.PNG" class="img-responsive" alt="Responsive image">
                </ol>
                <h3><a name="WindowsInstallationInstructions"></a>Windows Installation Instructions</h3>
                <ol start="5">
                    <li>Double click on the file you just downloaded, IdleWars08.msi</li>
                    <li>The &quot;Licence Agreement&quot; window, shown below, should appear on your screen,
                    please select &quot;I accept the terms in the License Agreement&quot; and then click on
                    the &quot;Install&quot; button.</li><img src="{{ STATIC_URL}}frontend/img/windodws1LicenseAgreement.png" class="img-responsive" alt="Responsive image">
                    <li>During the installation a warning message similar to the one below might appear
                    on the screen. If it happens, please click on &quot;Yes&quot;.</li><img src="{{ STATIC_URL}}frontend/img/windodws2WarningMessage.png" class="img-responsive" alt="Responsive image">
                    <li>Then the window below should appear, indicating that the installation is complete.</li><img src="{{ STATIC_URL}}frontend/img/windows3Completed.png" class="img-responsive" alt="Responsive image">
                    <li>A new dialog window will appear requesting to restart the computer. Please click
                    on &quot;Yes&quot;. (Note: if you are not able to restart, please go to the
                    &quot;Program Files&quot; folder and click the IdleWars0.8 folder and then
                    double click the IdleWars 0.8 file)</li>
                    <li>After rebooting a warning message will appear (see figure below),
                    this is normal, please click on &quot;Ok&quot;.</li><img src="{{ STATIC_URL}}frontend/img/windows4UsernamePassword.png" class="img-responsive" alt="Responsive image">
                    <li>A new dialog window (see figure below) will then appear, please insert the
                    username and password you chose during the registration and click on &quot;Save all&quot;.</li> <img src="{{ STATIC_URL}}frontend/img/windowsIdleWarsSettings.PNG" class="img-responsive" alt="Responsive image">
                </ol>
                <h3><a name="HowtoBustaComputer"></a>How to Play the IdleWars Game</h3>
                <p>When you see a computer showing a QR code on the screen you can do the following:</p>
                <ol>
                    <li>Open a QR code reader application on your mobile phone (if you do not already have
                    one, you can download one for free from the following links:
                    <a href="https://play.google.com/store/apps/details?id=la.droid.qr">Android phones</a>,
                    <a href="https://itunes.apple.com/en/app/qr-reader-for-iphone/id368494609?mt=8">iPhone</a>).
                    </li><img src="{{ STATIC_URL}}frontend/img/LaunchApplication.PNG" class="img-responsive" alt="Responsive image">
                    <li>Scan the QR code on the screen.</li><img src="{{ STATIC_URL}}frontend/img/2QRcodeScan.PNG" class="img-responsive" alt="Responsive image">
                    <li>The QR code reader may show you a URL, in that case please press &quot;Ok&quot;
                    (please note that this step might differ across different phones).</li>
                    <li>The first time you bust a computer, the system will ask you to provide your
                    username and password (we suggest you save username and password so you will not be
                    asked for them again), please insert them and press &quot;Login&quot;.</li><img src="{{ STATIC_URL}}frontend/img/3login.PNG" class="img-responsive" alt="Responsive image">
                    <li>The phone screen should then show &quot;Bust successful&quot; while the
                    computer screen should show your profile image.</li><img src="{{ STATIC_URL}}frontend/img/4BustedOK.PNG" class="img-responsive" alt="Responsive image">
                    <li>Keep an eye on the leader board (in your work place) to see how well you do
                    compared to your work mates!</li>

                </ol>
	        
	
{% endblock %}
