{% extends "smallBannerBase.html" %}

{% block title %}IdleWars Leaderboard{% endblock %}

{% block scripts %}

<script type="text/javascript" src="https://human.ecs.soton.ac.uk/figureenergy/media/js/libs/jquery.min.js"></script>
<script src="https://rawgithub.com/kriskowal/es5-shim/master/es5-shim.js"></script>

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}frontend/leaderboard_screen.css">
<script src="{{ STATIC_URL}}frontend/IdleWars.leaderboards.js"></script>

{% endblock %}

{% block onload %}
{% endblock %}

{% block content %}
	{% include "subtemplates/leaderboard_subtemplate.html" %}

	<script>
	$(function () {
		IdleWars.leaderboards.load(true);
		setInterval(function () {
			location.reload();
		}, 30000);
	});
	</script>
{% endblock %}
