{% extends "base.html" %}

{% block title %}IdleWars{% endblock %}
{% block homeActive %}class="active"{% endblock  %}
{% block scripts %}

	{% if owner.is_authenticated %}
		<script>var g_server_url = "{{ ROOT_URL }}"</script>
		<script src="{{ STATIC_URL}}frontend/IdleWars.leaderboards.js"></script>
	{%endif%}
	
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}frontend/forms.css" />
<style>
    h2 {
        font-size: 31px;
    }
    
    .media.selected {
        background-color: rgba(239, 255, 53, 0.85);
    }
</style>
{% endblock %}


{% block onload %}
	{% if owner.is_authenticated %}
		<!--The false says not to limit the leaderboard to the height of the screen -->
		IdleWars.leaderboards.load(false,'{{request.user.username}}')
	{% endif %}
{% endblock %}

{% block content %}
	{% if owner.is_authenticated %}
		
		{% include "subtemplates/leaderboard_subtemplate.html" %}
		
	{% else %}
        <legend>Home</legend>
        </hr>
		<p>This website is part of a study conducted by the University of Southampton and the University of Nottingham. See <a href="{{ STATIC_URL}}frontend/docs/ParticipantInformation.pdf">here</a> for more information.</p>
		<p>In order to play the game you need to read the <a href="{{ROOT_URL}}installationinstructions">*installation instructions*</a> and install the following program:
			<ul>
				<li><a href="{{ STATIC_URL}}frontend/installers/{{ DEPLOYMENT_NAME }}_IdleWars0.8.1.msi">For Windows users</a></li>
				<li><a href="{{ STATIC_URL}}frontend/installers/{{ DEPLOYMENT_NAME }}_IdleWars06.dmg">For Mac users</a> (OS X 10.8 and above, for versions below 10.8 please contact <a href="mailto:et2e10@ecs.soton.ac.uk?subject=IdleWars-Mac With with version below 10.8">Contact Us</a>)</li>
			</ul>
		</p>
		<p>To participate you also need to install a QRCode scanning application on your smartphone such as:</p>
		<ul>
				<li><a href="https://play.google.com/store/apps/details?id=la.droid.qr">QRDroid</a> for Android users</li>
				<li><a href="https://itunes.apple.com/en/app/qr-reader-for-iphone/id368494609?mt=8">QRReader</a> for iOS users</li>
		</ul>
		<p>Login below, or register <a href="{{ROOT_URL}}accounts/register/">here</a>.</p>
		
		{% include "subtemplates/login_subtemplate.html" %}
		 	
	{% endif %}
{% endblock %}

