{% extends "base.html" %}

{% block title %}IdleWars{% endblock %}
{% block playActive %}class="active"{% endblock  %}
{% block scripts %}
	<style>
		/*.practice_container{
			margin-bottom: 300px;
		}
		.sidebar-nav-fixed {
		    position:fixed;
		    top:100;
		    left:0;
		}*/
	</style>
	<script>
	// Sticky sidebar w/jQuery
    /*sidebarwidth = $(".sidebar-width").css('width');
    bodypaddingtop = $(".navbar-fixed-top").css('height');
    sidebarheight = $("body").css('height');
    $('.sidebar-nav-fixed').css('width', sidebarwidth);
    $('.sidebar-nav-fixed').css('height', sidebarheight);
    contentmargin = parseInt(sidebarwidth)*/
	</script>
{% endblock %}


{% block content %}

	        	<legend><a name="HowtoBustaComputer"></a>How to Play the IdleWars Game</legend>

                <p>When you see a computer showing a QR code on the screen you can do the following:</p>
                <ol>
                    <li>Open a QR code reader application on your mobile phone (if you do not already have
                    one, you can download one for free from the following links:
                    <a href="https://play.google.com/store/apps/details?id=la.droid.qr">Android phones</a>,
                    <a href="https://itunes.apple.com/en/app/qr-reader-for-iphone/id368494609?mt=8">iPhone</a>).
                    </li><img src="{{ STATIC_URL}}frontend/img/LaunchApplication.PNG" class="img-responsive" alt="Responsive image">
                    <li>Scan the QR code on the screen.</li><img src="{{ STATIC_URL}}frontend/img/2QRcodeScan.PNG" class="img-responsive" alt="Responsive image">
                    <li>The QR code reader may show you a URL, in that case please press &quot;Ok&quot;
                    (please note that this step might differ across different phones).</li>
                    <li>The first time you bust a computer, the system will ask you to provide your
                    username and password (we suggest you save username and password so you will not be
                    asked for them again), please insert them and press &quot;Login&quot;.</li><img src="{{ STATIC_URL}}frontend/img/3login.PNG" class="img-responsive" alt="Responsive image">
                    <li>The phone screen should then show &quot;Bust successful&quot; while the
                    computer screen should show your profile image.</li><img src="{{ STATIC_URL}}frontend/img/4BustedOK.PNG" class="img-responsive" alt="Responsive image">
                    <li>Keep an eye on the leader board (in your work place) to see how well you do
                    compared to your work mates!</li>

                </ol>

                <!--
                <ol>
                    <li>Fill all the fields of the registration form <a href="https://game.ecs.soton.ac.uk/IdleWars/accounts/register/">here</a></li>
                    <li>After the successfully submission, an e-mail will be sent with a link that you need to click to activate your account.</li>
                    <li>Download the IdleWars client:
                        <ul>
                          <li><a href="http://game.ecs.soton.ac.uk/installers/IdleWars0.8.1.msi">For Windows users</a></li>
                          <li><a href="http://game.ecs.soton.ac.uk/installers/IdleWars06.dmg">For Mac users</a></li>
                        </ul>
                    </li>
                </ol>
                <h3><a name="MacInstallationInstructions"></a>Mac Installation Instructions</h3>
                <ol start="5">
                    <li>Double click on the IdleWars06.dmg file (Note: you can possibly get a warning message like &ldquo;is an application downloaded from the Internet. Are you sure you want to open it&rdquo;  press open).</li>
                    <li>Open the Finder and then click on the IdleWars06 menu on the left hand side under the devices category.</li>
                    <li>Double click on the application.</li>
                    <li>On the window that appears (see image below) click continue.</li> <img src="{{ STATIC_URL}}frontend/img/macInstallerIntroduction.PNG" class="img-responsive" alt="Responsive image">
                    <li>Then you will be requested to choose storage device please choose the local hard drive and press continue.</li><img src="{{ STATIC_URL}}frontend/img/macinstallerdestination.PNG" class="img-responsive" alt="Responsive image">
                    <li>Congratulations you have successfully installed idle wars. Wait for the IdleWars Icon to appear on the screen (see the icon with the red frame in figure below).</li><img src="{{ STATIC_URL}}frontend/img/mactrayicon.PNG" class="img-responsive" alt="Responsive image">
                    <li>And now you can close the installer by pressing the close button. (Note: If the Icon does not appear go to the applications folder and open the file IdleWars06.app).</li><img src="{{ STATIC_URL}}frontend/img/macinstallationsuccessful.PNG" class="img-responsive" alt="Responsive image">
                    <li>When you run the client the following dialog will appear. This behaviour is normal. Press OK.</li><img src="{{ STATIC_URL}}frontend/img/InsertUsernameAndPassword.PNG" class="img-responsive" alt="Responsive image">
                    <li>In the new form (see figure below) insert your username and password and then press Save all.</li><img src="{{ STATIC_URL}}frontend/img/macInsertUsernameAndPassword.PNG" class="img-responsive" alt="Responsive image">
                </ol>
                <h3><a name="WindowsInstallationInstructions"></a>Windows Installation Instructions</h3>
                <ol>
                    <li>Double click on the IdleWars08.msi file </li>
                    <li>In the Licence Agreement that appears on the screen (see below) press the &ldquo;I accept the terms in the License Agreement&rdquo; and then press install.</li><img src="{{ STATIC_URL}}frontend/img/windodws1LicenseAgreement.png" class="img-responsive" alt="Responsive image">
                    <li>During the installation a warning message might appear on the screen (see image below). Please press yes.</li><img src="{{ STATIC_URL}}frontend/img/windodws2WarningMessage.png" class="img-responsive" alt="Responsive image">
                    <li>The dialog below indicates the end of the installation process press finish.</li><img src="{{ STATIC_URL}}frontend/img/windows3Completed.png" class="img-responsive" alt="Responsive image">
                    <li>A new dialog will appear requesting to restart the computer. press yes. (Note: if you are not able to restart go to your program files click the IdleWars0.8 folder and then double click the IdleWars 0.8 file)</li>
                    <li>After the installation a warning message will appear (see figure below) press ok.</li><img src="{{ STATIC_URL}}frontend/img/windows4UsernamePassword.png" class="img-responsive" alt="Responsive image">
                    <li>In the new dialog that appears  insert your username and password and press &ldquo;Save All&rdquo;.</li> <img src="{{ STATIC_URL}}frontend/img/windowsIdleWarsSettings.PNG" class="img-responsive" alt="Responsive image">
                </ol>
                <h3><a name="HowtoBustaComputer"></a>How to Bust a Computer</h3>
                <p>When you see a computer showing a QR code on the screen you can do the following:</p>
                <ol>
                    <li>Open a QR code scanner application from your mobile phone and scan the QR code in the screen (if you do not have a QR code scanner application you can download one form the <a href="https://play.google.com/store/apps/details?id=la.droid.qr">Android</a> and <a href="https://itunes.apple.com/en/app/qr-reader-for-iphone/id368494609?mt=8">Apple</a> app. store).</li></li><img src="{{ STATIC_URL}}frontend/img/LaunchApplication.PNG" class="img-responsive" alt="Responsive image">
                    <li>Scan the QR code that appears in the screen.</li><img src="{{ STATIC_URL}}frontend/img/2QRcodeScan.PNG" class="img-responsive" alt="Responsive image">
                    <li>The QR code client will show you the URL and then you need to press ok (please note that this step might be different in your QR code application).</li>
                    <li>If you do this for the first time the system will ask you to provide your username and password (we suggest you save your username and password so the system will not ask you insert them again).</li><img src="{{ STATIC_URL}}frontend/img/3login.PNG" class="img-responsive" alt="Responsive image">
                    <li>After pressing login the system will show a bust successful in the screen but also the profile image of the person who busted the computer will be shown in the screen.</li><img src="{{ STATIC_URL}}frontend/img/4BustedOK.PNG" class="img-responsive" alt="Responsive image">
                </ol>
                -->
	        
	
{% endblock %}
