<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="refresh" content="300">
<title>{% block title %}{% endblock %}</title>

	<script>var g_server_url = "{{ ROOT_URL }}"</script>

	{% block scripts %} {% endblock %}
	
	<!-- JQuery -->
	<script src="{{ STATIC_URL}}frontend/jquery.min.js"></script>

    <!-- Bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}frontend/twitter-bootstrap/docs/assets/css/bootstrap.css">
    <script type="text/javascript" src="{{ STATIC_URL}}frontend/twitter-bootstrap/docs/assets/js/bootstrap.js"></script>
	
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}frontend/leaderboard_screen.css">
	
</head>
<body onload="{% block onload %}{% endblock %}">
		
  		<div class="navbar navbar-inverse navbar-fixed-top">
	        <div class="navbar-header">
	          <a class="navbar-brand" href="#">IdleWars</a>
	          <p class="navbar-text">For more information go to <a href="{{ ROOT_URL }}">{{ ROOT_URL }}</a></p>
	        </div>
	    </div>
	    
	<div class="container-fluid">
	 	<div class="row-fluid">
			<div class="span12">
		        <!--Body content-->
		        {% block content %}
		        {% endblock %}
			</div>
		</div>
	</div>
</body>
</html>