<style>	
		input[type="text"] {
			margin-bottom: 0px;
		}
</style>
<div class="practice_container" id="bar{{ userProfile.id }}">
	<div class="form_container">
		<form>
			<fieldset>
				<legend>{{ userProfile.user.username }}</legend>
				<label><input id="grouped" type="radio" name="mode" value="grouped" > Grouped</label>
				<label><input id="separated" type="radio" name="mode" value="separated"> Separated</label>
				<label><input id="chronological" type="radio" name="mode" value="chronological" checked="checked"> Chronological</label>
			</fieldset>
		</form>
		<p>Date From:<input type="text" id="datepickerfrom{{ userProfile.id }}" />	To:<input type="text" id="datepickerto{{ userProfile.id }}" />
		<a href="#" class="btn" id="filter{{ userProfile.id }}">Filter</a>
		</p>              
	</div>
	<script src="{{ STATIC_URL}}frontend/jquery.min.js"></script>
	<script src="{{ STATIC_URL}}frontend/jquery-ui-1.10.3/ui/jquery-ui.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}frontend/jquery-ui-1.10.3/themes/base/jquery-ui.css" />
	<script>
		var test = IdleWars.datamanager;
		var number = test.draw_bar_vis({{ userProfile.id }});
	</script>
</div>

