<div class="row">
	<div class="span4" >
			<h2 id="lowestIdleTime">Least Idle</h2>
	</div>
	<div class="span4" >
		<h2 id="noOfComputersBusted">Top Busters (by number)</h2>
	</div>
	<div class="span4" >
		<h2 id="minutesOfIdleTimeBusted">Top Busters (by minutes)</h2>
	</div>
</div>
<div class="row">	
	<div class="span4" id="lowestIdleTimeholder">
		<div id="lowestIdleTimeLoader" style="text-align: center">
			<img src="{{ STATIC_URL}}frontend/css/themes/images/ajax-loader3.gif">
		</div>
	</div>
		<div class="span4" id="noOfComputersBustedholder">
			<div id="noOfComputersBustedLoader" style="text-align: center">
				<img src="{{ STATIC_URL}}frontend/css/themes/images/ajax-loader3.gif">
			</div>
		</div>
	<div class="span4" id="minutesOfIdleTimeBustedholder">
		<div id="minutesOfIdleTimeBustedLoader" style="text-align: center">		
			<img src="{{ STATIC_URL}}frontend/css/themes/images/ajax-loader3.gif">
		</div>
	</div>
 </div>	