<form method="post" action="" class="form-horizontal">
	<fieldset>
		<legend>Login</legend>
		
		<div class="control-group">
			<div class="controls">
				{{ form.non_field_errors }}
			</div>
		</div>
		
		<div class="control-group">
			<label class="control-label" for="id_username" >Username:</label> 
			<div class="controls">
				{{ form.username }}
				{{ form.username.errors }}
			</div>
		</div>
						
		<div class="control-group">
			<label class="control-label" for="id_password">Password:</label>
			<div class="controls">
				{{ form.password }}
				{{ form.password.errors }}
			</div>
		</div>
					
		<input type="hidden" name = "next" value="{{next}}"/>
		<div class="control-group">
    		<div class="controls">
				<input type="submit" value="login" class="btn btn-large btn-primary" />
			</div>
		</div>		
	{% csrf_token %}
	</fieldset>
</form>